.product-circle {
  width: 120px; /* تقليل الحجم */
  height: 120px; /* تقليل الحجم */
}

.product-circle img {
  width: 90px; /* الصور أصغر */
  height: 90px;
}

@media (max-width: 768px) {
  .product-circle {
    width: 100px; /* أحجام أصغر للأجهزة الصغيرة */
    height: 100px;
  }

  .product-circle img {
    width: 70px;
    height: 70px;
  }
}